@import url('https://fonts.googleapis.com/css?family=Saira');

body {
	background-image: url("https://images.pexels.com/photos/333850/pexels-photo-333850.jpeg?h=350&auto=compress&cs=tinysrgb");
	background-size: cover;
	background-position: center;
	height: 80vh;
  color: #FFF;
}

p {
	font-size: 15px;
	font-family: 'Saira', sans-serif;
}

h1, h2 {
	text-transform: uppercase;
  font-family: 'Saira', sans-serif;
}